.cross-sum-grid {
  display: flex;
  flex-direction: column;
}

.grid-col-targets {
  display: flex;
  padding-left: 40px;
  justify-content: space-evenly;
}

.grid-rows {
  display: flex;
  flex-direction: row;
}

.grid-row-targets {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grid-target-cell {
  background-color: #BEDCED;
  text-align: center;
  border: none;
  margin: 2px;
  padding: 2px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.grid-cell {
  border: 1px solid #ccc;
  text-align: center;
}

.cell-correct {
  background-color: #acdb73;
}

.cell-remove {
  background-color: #e98b84;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}