.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 0;
}

.grid-size-box {
    display: flex;
    align-items: center;
}

.grid-size-header {
    margin: 0;
}

.grid-size-input {
    height: 16px;
    width: 16px;
    margin-left: 4px;
    text-align: center;
}

.solve-button {
  background-color: #BEDCED;
  margin: 4px;
  padding: 8px 16px;
  border-radius: 8px;
}

.solve-button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
